body {
    font-family: 'Arial', sans-serif;
    font-size: auto;
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    aling-content: center;
}

h1 {
    text-align: center;
    color: #333;
}

div.P1 {
    background-color: cadetblue;
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 30%;
    height: 400px;
    box-sizing: border-box;
    float: left;
}
div.P2 {
    background-color: cadetblue;
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 30%;
    height: 400px;
    box-sizing: border-box;
    float: left;
}
div.P3 {
    background-color: cadetblue;
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 30%;
    height: 400px;
    box-sizing: border-box;
    float: left;
}

h2 {
    color: #000000;
}

p {
    color: #FFFFFF;
    line-height: 1.6;
}
/**********************Large Device Only*******************/
@media (min-width: 1200px) {
    #p1 {
        width: 80%;
        font-size: 80%;
    }
    #p2 {
        width 150px;
        height: 150px;
        font-size: 80%;
    }
/********************* Medium Devices Only***************/
@media (min-width: 992px) and (max-width: 1199px) {
    #p1 {
        width: auto%;
        font-size: 80%;
    }
    #p2 {
        width: 80%;
        font-size: fit%;
    }
}
/********************* Mobile Devices Only ***************/
@media (max-width: 991px) {
    #p1 {
        width: auto%;
        font-size: 30%;
    }
    #p2 {
        width: auto%;
        font-size: 30%;
    }
}

}