body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}

h1 {
    text-align: center;
    color: #333;
}

div.P1 {
    background-color: cadetblue;
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 400px;
    height: 400px;
    box-sizing: border-box;
    float: left;
}
div.P2 {
    background-color: cadetblue;
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 400px;
    height: 400px;
    box-sizing: border-box;
    float: left;
}
div.P3 {
    background-color: cadetblue;
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 400px;
    height: 400px;
    box-sizing: border-box;
    float: left;
}

h2 {
    color: #000000;
}

p {
    color: #FFFFFF;
    line-height: 1.6;
}
